<br>

フォローリクエスト(内容を見せても良いですか？)
<table class= "table table-condensed">
  <tr>
    <td>
      フォローする人↓
    </td>
    <td></td>
    <td></td>
  </tr>

  <% @follow_requests.each do |follow_request| %>
    <tr>
      <td>
        <%= follow_request.junior.name %>
      </td>
      <td>
        <%= link_to "フォロー承認", seniors_junior_allow_path(junior_id: follow_request.junior.id, id: follow_request.id), method: :post %>
      </td>
      <td>
        <%= link_to "フォロー拒否", seniors_junior_follow_request_path(junior_id: follow_request.junior.id, id: follow_request.id), method: :delete %>
      </td>
    </tr>
   <% end %>
</table>