<div class="container">
  <div class="post row col-xs-12">
    <table class="table table-hover table-inverse">
        <thead>
            <tr>
                <th>フォロー中のじぃじとばぁば</th>
                <th colspan="4"></th>
            </tr>
        </thead>
      <div class="col-12">
        <tbody>
            <% @seniors.each do |senior| %>
            <tr>
                <th><%= attachment_image_tag senior, :profile_image, :fill, 40, 40, format: 'jpeg' %></th>
                <th><%= senior.name %></th>
                <th><%= link_to "つぶやき一覧", juniors_senior_path(senior) %></th>
                <th><%= link_to "年表",  juniors_seniors_timeline_path(senior) %></th>
            </tr>
            <% end %>
        </tbody>
      </div>
    </table>
  </div>
</div>