<div class="about-main-container">
  <h1 class="text-center">
    <br>
    <br>
    <strong>じぃじとばぁば</strong><br>
    <br>
    ここでは<strong>じぃじとばぁば</strong>が日常の気持ちや生活の記憶<br>
    過去の経験を<strong>まご</strong>に伝えることができます
    <br>
    <br>
    普段のコミュニケーションから生まれる純粋な気持ち<br>
    過去の経験から生まれた感情や教訓を伝える<br>
    ということはかけがえの無い<br>
    財産となります
    <br>
    <br>
    <strong>じぃじとばぁば</strong>が気軽に思い立った時にここに刻む、そんなアプリケーションです
    <br>
    <br>
  </h1>
</div>