<div class="main-container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="senior"><%= link_to ' じぃじとばぁば', option_senior_path %></h1>
  <br>
  <h1 class="junior"><%= link_to ' まご', option_junior_path %></h1>
</div>