<div class="containar">
    <p class="text-center">
     <h1><%= link_to ' じぃじとばぁば', option_senior_path, class: 'glyphicon glyphicon-' %></h1>
    </p>
    <p class="text-center">
      <h1><%= link_to ' 孫', option_junior_path, class: 'glyphicon glyphicon-l' %></h1>
    </p>
</div>